<div id="view-project-<%- resource.uuid %>">
    <img class="gui-thumbnail" src="<%- resource._thumbnail %>"/>
    Server _id: <span id="name"><%- resource._id ? resource._id : ("N/A") %></span><br/>
    Name: <span id="name"><%- project.name %></span><br/>
    Actions: <a href="/studio/project/<%= resource.uuid %>">Edit</a><br/>
    Size: <%= (byteLength(JSON.stringify(resource.data)) / (1024 * 1024)).toFixed(4) %>MB<br/>
    <label for="status-<%- resource.uuid %>">Status:</label>
</div>
